<%# frozen_string_literal: true %>
<h1>Voici les détails de votre simulation</h1>

<%= link_to 'Modifier la simulation', edit_simulation_contact_need_path(@simulation.contact, simulation_id: @simulation.id) %>